* {
    padding: 0px;
    margin: 0px;

    font-family: 'Orbitron', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

div.timer {
    display: flex;

    flex-direction: row;

    justify-content: center;

    margin-top: 50px;
}

div.minutes, div.seconds, div.miliseconds {
    margin: 10px;

    font-size: 5em;
}

div.miliseconds {
    margin-top: 45px;
    font-size: 3em;
}

.buttons {
    display: flex;

    flex-direction: row;
    justify-content: center;
}

.buttons > button {
    padding: 12px;
    border-radius: 20px;
    margin: 0px 10px;
}

button.btn_start {
    background-color: #2828eb;

    color: #FFFFFF;
    display: inline;
}

button {
    display: none;
}

@media screen and (max-width: 530px){
    div.minutes, div.seconds {
        font-size: 3em;
    }

    div.miliseconds {
        transform: translateY(-20px);
        font-size: 2em;
    }
}